In [ ]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Load the data
file_path = r"C:\Users\sgrka\OneDrive\Documents\Apple watch data\export2\apple_health_export_2024-07-09.csv"
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df.head()

In [ ]:
# Display basic information about the dataframe
df.info()

# Summary statistics
df.describe()
# Get all distinct values in the 'type' column
distinct_types = filtered_df['type'].unique()

# Print the distinct types
print("Distinct values in 'type' column:")
for t in distinct_types:
    print(t)

In [ ]:
# Filter the data where 'type' is not null
filtered_df = df[df['type'].notnull()]

# Display the first few rows of the filtered dataframe
filtered_df.head()
# Get all distinct values in the 'type' column
distinct_types = filtered_df['type'].unique()

# Print the distinct types
print("Distinct values in 'type' column:")
for t in distinct_types:
    print(t)

In [ ]:
filtered_df.columns.tolist()

In [ ]:
filtered_df.head()

In [ ]:
# Count NaN values in each column
nan_counts_cleaned = filtered_df.isna().sum()

# Print the counts
print("Number of NaN values in each column ")
print(nan_counts_cleaned)

In [ ]:
columns_to_keep = ['type', 'sourceName', 'value', 'unit', 'startDate', 'endDate', 'creationDate']

# Keep only the specified columns
filtered_df= filtered_df[columns_to_keep]

In [ ]:
filtered_df.columns.tolist()

In [ ]:
filtered_df.dropna(subset=['value'])

In [ ]:
# Count NaN values in each column
nan_counts_cleaned = filtered_df.isna().sum()

# Print the counts
print("Number of NaN values in each column ")
print(nan_counts_cleaned)

In [ ]:
filtered_df.head()

In [ ]:
relevant_types = [
    'StepCount', 'DistanceWalkingRunning', 'FlightsClimbed', 'ActiveEnergyBurned', 
    'AppleExerciseTime', 'HeartRate', 'HeartRateVariabilitySDNN', 'RestingHeartRate',
    'WalkingHeartRateAverage', 'SleepAnalysis', 'HKDataTypeSleepDurationGoal',
    'EnvironmentalAudioExposure', 'EnvironmentalSoundReduction', 'RespiratoryRate',
    , 'WalkingSpeed', 'WalkingAsymmetryPercentage',
    'WalkingDoubleSupportPercentage', 'WalkingStepLength', 'HandwashingEvent',
    'AppleStandTime', 'AppleStandHour', 'VO2Max'
]

# Filter the DataFrame to keep only the relevant types
filtered_df = filtered_df[filtered_df['type'].isin(relevant_types)]

# Display the first few rows of the filtered DataFrame
filtered_df.head()

In [ ]:
filtered_df = filtered_df.dropna(subset=['value'])

# Display the first few rows of the filtered DataFrame
filtered_df.head()

In [ ]:
# Count NaN values in each column
nan_counts_cleaned = filtered_df.isna().sum()

# Print the counts
print("Number of NaN values in each column ")
print(nan_counts_cleaned)

In [ ]:
filtered_df['startDate'] = pd.to_datetime(filtered_df['startDate'])

# Extract month and year from 'startDate'
filtered_df['month'] = filtered_df['startDate'].dt.month
filtered_df['year'] = filtered_df['startDate'].dt.year

# Get all distinct values in the 'type' column
distinct_types = filtered_df['type'].unique()

# Create an empty DataFrame to store the results
monthly_avg_values = pd.DataFrame()

# Iterate over each distinct type
for t in distinct_types:
    # Filter the data for the current type
    type_df = filtered_df[filtered_df['type'] == t]
    # Group by month and year, and calculate the average value
    monthly_avg = type_df.groupby(['year', 'month'])['value'].mean().reset_index()
    # Add a new column with the type name
    monthly_avg['type'] = t
    # Append the results to the main DataFrame
    monthly_avg_values = monthly_avg_values.append(monthly_avg)

# Sort the DataFrame by year and month
monthly_avg_values.sort_values(by=['year', 'month'], inplace=True)

# Reset index
monthly_avg_values.reset_index(drop=True, inplace=True)
# Add a new column 'user_number' with the same value in every row
monthly_avg_values['user_number'] = 1

# Display the average value for each month for every distinct type
print(monthly_avg_values)# Define the file path for the CSV file
output_file_path = 'monthly_average_values.csv'

# Export the DataFrame to a CSV file
monthly_avg_values.to_csv(output_file_path, index=False)

print(f"Data exported to {output_file_path}")

In [ ]:
#load the data into sql server using replace option
import sqlalchemy as sal
engine = sal.create_engine('mssql://Sagar\HUMBER_DB/Heartgaurd?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [ ]:
#load the data into sql server using append option
monthly_avg_values.to_sql('monthly_average', con=conn , index=False, if_exists = 'append')

In [ ]:
# Drop the 'year' and 'month' columns
df_dropped = monthly_avg_values.drop(columns=['year', 'month'])

# Normalize the values within each 'type'
df_dropped['normalized_value'] = df_dropped.groupby('type')['value'].transform(lambda x: (x - x.mean()) / x.std())

# Calculate the average normalized value for each type
average_df = df_dropped.groupby('type')['normalized_value'].mean().reset_index()
average_df.columns = ['type', 'average_normalized_value']

print(average_df)

In [ ]:
# Get all distinct values in the 'type' column
distinct_types = filtered_df['type'].unique()

# Print the distinct types
print("Distinct values in 'type' column:")
for t in distinct_types:
    print(t)

In [ ]:
# Convert 'value' column to numeric, coercing errors to NaN
filtered_df['value'] = pd.to_numeric(filtered_df['value'], errors='coerce')

# Group by 'type' and plot each group
for name, group in filtered_df.groupby('type'):
    plt.figure(figsize=(10, 6))
    group.plot(x='startDate', y='value', kind='line', title=name)
    plt.xlabel('Start Date')
    plt.ylabel('Value')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Plot the distribution of step count
if 'value' in filtered_df.columns and filtered_df['type'].eq('StepCount').any():
    step_counts = filtered_df[filtered_df['type'] == 'StepCount']['value']
    sns.histplot(step_counts, kde=True)
    plt.title('Distribution of Step Count')
    plt.xlabel('Step Count')
    plt.ylabel('Frequency')
    plt.show()
else:
    print("StepCount data not found in the dataset.")

# Plot a time series of steps
if 'startDate' in filtered_df.columns and filtered_df['type'].eq('StepCount').any():
    step_data = filtered_df[filtered_df['type'] == 'StepCount'].set_index('startDate')
    step_data['value'].plot(figsize=(15, 5))
    plt.title('Step Count Over Time')
    plt.xlabel('Time')
    plt.ylabel('Step Count')
    plt.show()
else:
    print("StepCount data not found in the dataset.")

# Plot the distribution of distance walking/running
if 'value' in filtered_df.columns and filtered_df['type'].eq('DistanceWalkingRunning').any():
    distance_data = filtered_df[filtered_df['type'] == 'DistanceWalkingRunning']['value']
    sns.histplot(distance_data, kde=True)
    plt.title('Distribution of Distance Walking/Running')
    plt.xlabel('Distance (km)')
    plt.ylabel('Frequency')
    plt.show()
else:
    print("DistanceWalkingRunning data not found in the dataset.")